@font-face {
  font-family: outfit-medium;
  src: url("../fonts/Outfit-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: outfit-regular;
  src: url("../fonts/Outfit-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: outfit-bold;
  src: url("../fonts/Outfit-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: outfit-semibold;
  src: url("../fonts/Outfit-SemiBold.ttf");
  font-display: swap;
}
:root {
  --bs-aqua: #1f91f3;
  --bs-white: #fff;
  --bs-redlight: #fff4f5;
  --bs-orangelight: #fff6e4;
  --bs-lightblue: #ecf2ff;
  --bs-darkgray: #b1b5c9;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #bcbcbc;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-light-primary-bg: #f5f2fd;
  --bs-primary: #00bfa5;
  --bs-secondary: #6c757d;
  --bs-success: #46b916;
  --bs-success-active: #f3ffee;
  --bs-primary-hover-bg:#05af99;
  --bs-success-disable: #47b916cc;
  --bs-success-hover: #2F9B02;
  --bs-light-success-bg: #EAFFE1;
  --bs-info-hover: #3463E1;
  --bs-info-disabled: #5079e9cc;
  --bs-light-info-bg: #ECF2FF;
  --bs-warning-hover: #E67400;
  --bs-warning-disabled: #ff8000cc;
  --bs-light-warning-bg: #FFF6E4;
  --bs-danger-hover: #EE0010;
  --bs-danger-disabled: #ff1222cc;
  --bs-light-danger-bg: #fff4f5;
  --bs-light-hover: #B1B5C9;
  --bs-light-disabled: #f9f9f9cc;
  --bs-light-light-hover: #606478;
  --bs-info: #5079e9;
  --bs-warning: #ff8000;
  --bs-danger: #ff1121;
  --bs-light: #f8f9fa;
  --bs-dark: #181c32;
  --bs-primary-rgb: 0, 191, 165;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 70, 185, 22;
  --bs-info-rgb: 80, 121, 233;
  --bs-warning-rgb: 255, 128, 0;
  --bs-danger-rgb: 255, 17, 33;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 24, 28, 50;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 229, 231, 235;
  --bs-body-color: #212529;
  --bs-body-bg: #e5e7eb;
  --bs-border-color: #dee2e6;
  --bs-link-color: #606478;
  --bs-link-hover-color: #00bfa5;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-navbar-active-color: #00bfa5 ;
  --bs-success-badge-bg: #F3FFEE;
  --bs-form-control-bg: #F9F7FD;
  --bs-calender-bg: #f3f3f3;
}

.navbar {
  --bs-navbar-active-color: #00bfa5 !important;
}

.Search-Employees {
  --bs-table-striped-bg: #fbfefb !important;
  --bs-table-hover-bg: #F2EFFF !important;
}

.btn-light-primary {
  background-color: var(--bs-light-primary-bg);
  color: var(--bs-primary) !important;
  border-radius: 5px;
}
.btn-light-primary svg path {
  fill: var(--bs-primary);
}
.btn-light-primary:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white) !important;
}
.btn-light-primary:hover svg path {
  fill: var(--bs-white) !important;
}

.btn-white {
  --bs-btn-color: $text-color !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-primary-hover-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-primary-hover-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-bg: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-primary-svg {
  --bs-btn-color: var(--bs-primary) !important;
  --bs-btn-bg: var(--bs-form-control-bg) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-form-control-bg) !important;
  --bs-btn-hover-bg: var(--bs-primary) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-primary) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-bg: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-primary-svg .svg-light-btn {
  fill: var(--bs-primary) !important;
}
.btn-primary-svg:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}

.btn-primary {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--bs-primary) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-primary-hover-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-primary-hover-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-bg: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-primary .svg-light-btn {
  fill: var(--bs-white) !important;
}
.btn-primary:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}

.btn-success {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--bs-success) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-success-hover) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-success-hover) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-success-disable) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-success svg path {
  fill: var(--bs-white) !important;
}
.btn-success:hover svg path {
  fill: var(--bs-white) !important;
}

.btn-info {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--bs-info) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-info-hover) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 11, 172, 204 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-info-hover) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-disabled-bg: var(--bs-info-disabled) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-warning {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--bs-warning) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-warning-hover) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 217, 164, 6 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-warning-hover) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-warning-disabled) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-danger {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--bs-danger) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-danger-hover) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 225, 83, 97 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-danger-hover) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-danger-disabled) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-light {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--bs-primary) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-primary) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 211, 212, 213 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-primary) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-link-color) !important;
  --bs-btn-disabled-bg: var(--bs-light-disabled) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light:hover .menu-dots {
  fill: var(--bs-white);
}

.btn-light-success {
  --bs-btn-color: var(--bs-success) !important;
  --bs-btn-bg: var(--bs-light-success-bg) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-success) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-success) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-success) !important;
  --bs-btn-disabled-bg: var(--bs-light-success-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-success .svg-light-btn {
  fill: var(--bs-success) !important;
  margin-bottom: 4px;
  margin-right: 3px;
}
.btn-light-success .svg-icon-hoverable-btn {
  fill: var(--bs-success) !important;
}
.btn-light-success:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}
.btn-light-success:hover .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}
.btn-light-success.active .svg-light-btn, .btn-light-success.active .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}

.btn-light-info {
  --bs-btn-color: var(--bs-info) !important;
  --bs-btn-bg: var(--bs-light-info-bg) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-info) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 11, 172, 204 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-info) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-light-info-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-info .svg-light-btn {
  fill: var(--bs-info) !important;
  margin-bottom: 4px;
  margin-right: 3px;
}
.btn-light-info .svg-icon-hoverable-btn {
  fill: var(--bs-info) !important;
}
.btn-light-info:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}
.btn-light-info:hover .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}
.btn-light-info.active .svg-light-btn, .btn-light-info.active .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}

.btn-light-warning {
  --bs-btn-color: var(--bs-warning) !important;
  --bs-btn-bg: var(--bs-light-warning-bg) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-warning) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 217, 164, 6 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-warning) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-light-warning-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-warning .svg-light-btn {
  fill: var(--bs-warning) !important;
  margin-bottom: 4px;
  margin-right: 3px;
}
.btn-light-warning .svg-icon-hoverable-btn {
  fill: var(--bs-warning) !important;
}
.btn-light-warning:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}
.btn-light-warning:hover .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}
.btn-light-warning.active .svg-light-btn, .btn-light-warning.active .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}

.btn-light-danger {
  --bs-btn-color: var(--bs-danger) !important;
  --bs-btn-bg: var(--bs-light-danger-bg) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-danger) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 225, 83, 97 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-danger) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-danger-disabled) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-danger .svg-light-btn {
  fill: var(--bs-danger) !important;
  margin-bottom: 4px;
  margin-right: 3px;
}
.btn-light-danger .svg-icon-hoverable-btn {
  fill: var(--bs-danger) !important;
}
.btn-light-danger:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}
.btn-light-danger:hover .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}
.btn-light-danger.active .svg-light-btn, .btn-light-danger.active .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}

.btn-light-light {
  --bs-btn-color: var(--bs-link-color) !important;
  --bs-btn-bg: var(--bs-light) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--bs-light-light-hover) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 211, 212, 213 !important;
  --bs-btn-active-color: var(--bs-white) !important;
  --bs-btn-active-bg: var(--bs-light-light-hover) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-white) !important;
  --bs-btn-disabled-bg: var(--bs-light-disabled) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-light .svg-light-btn {
  fill: var(--bs-primary) !important;
  margin-bottom: 4px;
  margin-right: 3px;
}
.btn-light-light .svg-icon-hoverable-btn {
  fill: var(--bs-link-color) !important;
}
.btn-light-light:hover .svg-light-btn {
  fill: var(--bs-white) !important;
}
.btn-light-light:hover .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}
.btn-light-light.active .svg-light-btn, .btn-light-light.active .svg-icon-hoverable-btn {
  fill: var(--bs-white) !important;
}

.btn-light-hover-primary {
  --bs-btn-color: var(--bs-primary) !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-primary) !important;
  --bs-btn-hover-bg: var(--bs-light-primary-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: var(--bs-primary) !important;
  --bs-btn-active-bg: var(--bs-light-primary-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-primary) !important;
  --bs-btn-disabled-bg: var(--bs-light-primary-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-hover-primary svg path {
  fill: var(--bs-primary) !important;
}

.btn-light-hover-success {
  --bs-btn-color: var(--bs-success) !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-success) !important;
  --bs-btn-hover-bg: var(--bs-light-success-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
  --bs-btn-active-color: var(--bs-success) !important;
  --bs-btn-active-bg: var(--bs-light-success-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-success) !important;
  --bs-btn-disabled-bg: var(--bs-light-success-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}
.btn-light-hover-success svg path {
  fill: var(--bs-success) !important;
}

.btn-light-hover-info {
  --bs-btn-color: var(--bs-info) !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-info) !important;
  --bs-btn-hover-bg: var(--bs-light-info-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 11, 172, 204 !important;
  --bs-btn-active-color: var(--bs-info) !important;
  --bs-btn-active-bg: var(--bs-light-info-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-info) !important;
  --bs-btn-disabled-bg: var(--bs-light-info-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-light-hover-warning {
  --bs-btn-color: var(--bs-warning) !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-warning) !important;
  --bs-btn-hover-bg: var(--bs-light-warning-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 217, 164, 6 !important;
  --bs-btn-active-color: var(--bs-warning) !important;
  --bs-btn-active-bg: var(--bs-light-warning-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-warning) !important;
  --bs-btn-disabled-bg: var(--bs-light-warning-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-light-hover-danger {
  --bs-btn-color: var(--bs-danger) !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-danger) !important;
  --bs-btn-hover-bg: var(--bs-light-danger-bg) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 225, 83, 97 !important;
  --bs-btn-active-color: var(--bs-danger) !important;
  --bs-btn-active-bg: var(--bs-light-danger-bg) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-danger) !important;
  --bs-btn-disabled-bg: var(--bs-light-danger-bg) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn-light-hover-light {
  --bs-btn-color: var(--bs-link-color) !important;
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: #ffffff00 !important;
  --bs-btn-hover-color: var(--bs-link-color) !important;
  --bs-btn-hover-bg: var(--bs-light) !important;
  --bs-btn-hover-border-color: #ffffff00 !important;
  --bs-btn-focus-shadow-rgb: 211, 212, 213 !important;
  --bs-btn-active-color: var(--bs-link-color) !important;
  --bs-btn-active-bg: var(--bs-light) !important;
  --bs-btn-active-border-color: #ffffff00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--bs-link-color) !important;
  --bs-btn-disabled-bg: var(--bs-light) !important;
  --bs-btn-disabled-border-color: #ffffff00 !important;
}

.btn {
  --bs-btn-padding-x: 1rem;
}

.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1.25rem;
  --bs-btn-font-size: 1.125rem;
}

.svg-sm-btn {
  fill: var(--bs-white);
  margin-bottom: 4px;
  margin-right: 3px;
}

.light-svg-sm-btn {
  fill: #797979;
  margin-bottom: 4px;
  margin-right: 3px;
}

.svg-icon-sm-btn {
  fill: var(--bs-white);
}

.light-svg-icon-sm-btn {
  fill: #797979;
}

.icon-btns-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.35rem !important;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
}

.icon-btns-default {
  --bs-btn-padding-x: 0.58rem;
  --bs-btn-padding-y: 0.58rem;
}

.svg-icon-default-btn {
  fill: var(--bs-white);
}

.light-svg-icon-default-btn {
  fill: #797979;
}

.svg-default-btn {
  fill: var(--bs-white);
  margin-bottom: 3px;
  margin-right: 3px;
}

.light-svg-default-btn {
  fill: #797979;
  margin-bottom: 3px;
  margin-right: 3px;
}

.svg-icon-large-btn {
  fill: var(--bs-white);
}

.light-svg-icon-large-btn {
  fill: #797979;
}

.svg-large-btn {
  fill: var(--bs-white);
  margin-bottom: 1px;
  margin-right: 3px;
}

.light-svg-large-btn {
  fill: #797979;
  margin-bottom: 1px;
  margin-right: 3px;
}

.icon-btns-large {
  --bs-btn-padding-y: 0.8rem;
  --bs-btn-padding-x: 0.75rem;
}

.edit-btn {
  background-color: var(--bs-light-primary-bg) !important;
  border-radius: 5px !important;
}

.remove-btn {
  background-color: var(--bs-light-danger-bg) !important;
  border-radius: 5px !important;
}

.primary-btn {
  line-height: 1.3 !important;
}

.btn.active svg path,
.btn:hover svg path {
  fill: var(--bs-white) !important;
}

.btn.active:focus {
  color: var(--bs-white) !important;
}

.tab-border-bottom .nav-link {
  border: 0;
  border-bottom: 2px solid transparent;
}
.tab-border-bottom .nav-tabs .nav-link.active {
  border: 0 !important;
  border-bottom: solid 2px var(--bs-primary) !important;
  color: var(--bs-primary);
}
.tab-border-bottom .nav-tabs .nav-link.active .Borderbottom-tab-icon {
  fill: var(--bs-primary) !important;
}
.tab-border-bottom .nav-tabs .nav-link:focus,
.tab-border-bottom .nav-tabs .nav-link:hover {
  border: 0;
  border-bottom: solid 2px var(--bs-primary);
  color: var(--bs-primary);
}
.tab-border-bottom .nav-tabs .nav-link:focus .Borderbottom-tab-icon,
.tab-border-bottom .nav-tabs .nav-link:hover .Borderbottom-tab-icon {
  fill: var(--bs-primary) !important;
}

.tab-borderless .nav-link {
  border: 1px solid transparent;
  border-bottom: 0;
}
.tab-borderless .nav-tabs .nav-link.active {
  border: solid 1px var(--bs-primary);
  border-bottom: 0;
  color: var(--bs-primary);
}
.tab-borderless .nav-tabs .nav-link.active .Bottomless-tab-icon {
  fill: var(--bs-primary) !important;
}
.tab-borderless .nav-tabs .nav-link:focus {
  border: solid 1px var(--bs-primary);
  border-bottom: 0;
  color: var(--bs-primary);
}
.tab-borderless .nav-tabs .nav-link:focus .Bottomless-tab-icon {
  fill: var(--bs-primary) !important;
}
.tab-borderless .nav-tabs .nav-link:hover {
  color: var(--bs-primary);
}
.tab-borderless .nav-tabs .nav-link:hover .Bottomless-tab-icon {
  fill: var(--bs-primary) !important;
}

.Tab-HomeIcon {
  width: 12px;
  height: 12px;
}

.Borderbottom-tab-icon {
  fill: #797979;
  width: 12px;
  height: 12px;
}

.Bottomless-tab-icon {
  fill: #797979;
  width: 12px;
  height: 12px;
}

.CompanyLogo img {
  height: 22px;
  width: 44px;
}

.expandbtn {
  fill: var(--bs-primary);
}

.Animation {
  min-width: 83px;
  width: 83px;
  max-height: 100%;
  transition: width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, min-width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.Sidenavhide {
  left: -90px !important;
}

.side-width {
  width: calc(11rem + 5%);
}

#side-bar {
  position: fixed;
  z-index: 2;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.side-menu {
  background-image: url("../imgs/bg-imgs/SideNavbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.side-menu .Navigation-title {
  padding-left: 0.7rem;
}
.side-menu .Nav-svg {
  fill: #797979;
  margin-bottom: 2px;
  margin-left: 2px;
}
.side-menu .arrow-icon {
  fill: #797979;
  margin-top: 8px;
}
.side-menu .Navigation-btn:hover {
  color: var(--bs-primary) !important;
}
.side-menu .Navigation-btn:hover .Nav-svg,
.side-menu .Navigation-btn:hover .arrow-icon {
  fill: var(--bs-primary) !important;
}
.side-menu .Navigation-active {
  color: var(--bs-primary) !important;
}
.side-menu .Navigation-active .Nav-svg,
.side-menu .Navigation-active .arrow-icon {
  fill: var(--bs-primary) !important;
}
.side-menu .small-active {
  background-color: var(--bs-primary) !important;
}
.side-menu .small-active .Nav-svg,
.side-menu .small-active .arrow-icon {
  fill: var(--bs-white) !important;
}
.side-menu .Navigation-dot {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #797979;
}
.side-menu .Navigation-page-link {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.side-menu .Navigation-page-link:hover .Navigation-dot {
  background-color: var(--bs-primary);
}
.side-menu .rotate {
  transform: rotate(90deg);
}
.side-menu .overflow {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 134px;
}
.side-menu .overflow ul a {
  font-size: calc(1rem - 2px);
}
.side-menu .overflow ul .active {
  background-color: var(--bs-primary);
  border-radius: 5px;
  color: var(--bs-white);
}
.side-menu .overflow ul .active .Navigation-dot {
  background-color: var(--bs-white);
}
.side-menu .items {
  display: none;
}
.side-menu .bg-texture {
  position: absolute;
  z-index: -99;
  bottom: 0;
}

.Shadow {
  box-shadow: 0 8px 12px 0 rgba(162, 185, 167, 0.06);
}

.Shadow-side-nav {
  box-shadow: 2px 0 10px 2px rgba(164, 181, 168, 0.2);
}

.card-Shadow {
  box-shadow: 0 4px 13px 2px hsla(133, 22%, 75%, 0.13);
}

.navbar .navbar-collapse ul .active {
  color: var(--bs-navbar-active-color) !important;
  border-radius: 5px;
  background-color: var(--bs-success-active);
}

.navBar {
  z-index: 3;
  height: 60px;
  flex-wrap: nowrap !important;
  justify-content: flex-start;
}
.navBar .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navBar .navtext {
  color: #797979;
}
.navBar .navtext:hover {
  color: var(--bs-primary);
}
.navBar .navbar-nav {
  flex-direction: row;
}
.navBar .navbar-nav .nav-link.active {
  background-color: var(--bs-light-primary-bg);
  border-radius: 5px;
}
.navBar .ProfilePic {
  border-radius: 8px;
  align-items: center !important;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navBar .NavAncor-Acitve {
  border-radius: 5px;
  align-items: center !important;
}
.navBar .NavAncor-Acitve-reposive {
  border-radius: 5px;
  align-items: center !important;
  background-color: var(--bs-light-primary-bg) !important;
}
.navBar #home-mang .dropdown-menu {
  border-radius: 5px;
  box-shadow: 0 8px 12px 0 rgba(162, 185, 167, 0.06);
  background-color: #fff;
}
.navBar #home-mang .dropdown-menu .active {
  background-color: #f7f5ff !important;
}
.navBar #home-mang .dropdown-menu .active a {
  color: var(--bs-primary) !important;
}
.navBar #home-mang .dropdown-menu .dropdown-item {
  font-size: calc(1rem - 1px) !important;
}
.navBar #home-mang .dropdown-menu .dropdown-item:hover {
  background-color: #f7f5ff !important;
  color: var(--bs-primary) !important;
}
.navBar .Users-profile .dropdown-menu, .navBar .Mobile-menu.dropdown-menu {
  --bs-dropdown-min-width: 15.75rem;
  --bs-dropdown-item-padding-y: 0.35rem;
  --bs-dropdown-color:var(--bs-link-color);
  --bs-dropdown-border-color: transparent;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-box-shadow: 12px 12px 25px 12px rgb(0, 30, 255);
  --bs-dropdown-link-color: var(--bs-link-color);
  --bs-dropdown-link-hover-color: var(--bs-primary);
  --bs-dropdown-link-hover-bg: var(--bs-light-primary-bg);
  --bs-dropdown-link-active-color: var(--bs-primary);
  --bs-dropdown-link-active-bg: var(--bs-light-primary-bg);
  box-shadow: 0 0 25px 0 rgba(183, 200, 189, 0.35);
}
.navBar .Users-profile .dropdown-menu .dropdown-item, .navBar .Mobile-menu.dropdown-menu .dropdown-item {
  border-radius: 5px;
}

.dropdown-item.Profile-dropdown {
  --bs-dropdown-link-hover-color: var(--bs-danger) !important;
  --bs-dropdown-link-hover-bg: none !important;
}

.Page-Heading {
  font-size: calc(1rem - 2px) !important;
}
.Page-Heading .active {
  color: var(--bs-primary);
  fill: var(--bs-primary) !important;
}

.add-new-record {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.menu-dot-1-bg {
  background-color: #f9f9f9;
}

.dropdown-menu-hover:hover {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
  border-color: var(--bs-primary) !important;
}

.status-inactive {
  background-color: #fff3f4 !important;
  border: solid 0.3px var(--bs-danger);
  color: var(--bs-danger);
  border-radius: 5px !important;
  width: 68px !important;
  height: 22px !important;
}

.status-employee {
  background-color: #ecf2ff !important;
  color: var(--bs-blue) !important;
  border: solid 0.3px var(--bs-blue);
  border-radius: 5px !important;
  width: 86px !important;
  height: 22px !important;
}

.status-active {
  background-color: var(--bs-light-primary-bg) !important;
  color: var(--bs-success) !important;
  border: solid 0.3px var(--bs-success);
  border-radius: 5px !important;
  width: 54px !important;
  height: 22px !important;
}

.status-candidate {
  background-color: #fff3f4 !important;
  color: var(--bs-warning) !important;
  border: solid 0.3px var(--bs-warning);
  border-radius: 5px !important;
  width: 84px !important;
  height: 22px !important;
}

.displaying-records {
  color: #b1b5c9 !important;
  font-size: calc(1rem - 2px);
}

.gray:focus {
  color: #797979 !important;
  border-color: #797979 !important;
  box-shadow: none !important;
}

.dropdown-main-btn .menu-dot-1-bg {
  background-color: #f9f9f9 !important;
}
.dropdown-main-btn svg path {
  fill: #0d142d !important;
}

.loader {
  border-top: 1px solid #b1b5c9;
  border-right: 1px solid #b1b5c9;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Search-Employees td, .Search-Employees tbody {
  color: #797979 !important;
}

.status-pending {
  background-color: #fff3db !important;
  color: var(--bs-warning) !important;
  border-radius: 5px !important;
  width: 56px !important;
  height: 20px !important;
}

.pagination-nav nav .page-link {
  color: #797979 !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: #f9f9f9;
}
.pagination-nav nav .page-link:hover {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
}
.pagination-nav nav .page-link:focus {
  box-shadow: none !important;
}
.pagination-nav nav .active a {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
}

.Employees-border {
  background-image: linear-gradient(to right, #d8e0d8 44%, transparent 0%);
  background-position: bottom;
  background-size: 13px 0.5px;
  background-repeat: repeat-x;
}

.employee-displaying {
  box-shadow: 1px -11px 14px -8px rgba(114, 132, 154, 0.05);
}

.main_card {
  border-radius: 5px;
}

.input {
  display: flex;
}
.input button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0%;
}
.input .search-box {
  background-color: #fbfefb;
  border: solid 0.3px #eceeec;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0%;
}
.input .search-box:focus-visible {
  outline: none;
  border: solid 1px var(--bs-primary);
}
.input .search-box::-moz-placeholder {
  color: var(--bs-darkgray);
}
.input .search-box::placeholder {
  color: var(--bs-darkgray);
}
.input .search-box:hover {
  border: solid 1px var(--bs-primary);
}

.input-group {
  width: 0;
  flex-wrap: nowrap;
}

.edit-btn {
  background-color: var(--bs-light-primary-bg);
  border-radius: 5px;
}

.remove-btn {
  background-color: var(--bs-light-danger-bg);
  border-radius: 5px;
}

.SearchIcon {
  height: 17px;
  width: 17px;
  fill: var(--bs-white);
}

.FilterIcon {
  height: 13px;
  width: 11px;
  fill: var(--bs-primary);
}

.SortByIcon {
  height: 14px;
  width: 10px;
  fill: var(--bs-primary);
}

.PlusIcon {
  height: 18px;
  width: 18px;
  fill: var(--bs-white);
  margin-bottom: 4px;
  margin-right: 3px;
}

.editpen-icon {
  height: 14px;
  width: 14px;
  fill: var(--bs-primary);
}

.DeleteIcon {
  fill: var(--bs-danger);
  height: 14px;
  width: 14px;
}

.menu-dots {
  height: 14px;
  width: 14px;
}

.custom-border-bottom {
  border-bottom: 2px dashed #ced4da !important;
}

@media screen and (min-width: 610px) {
  .Filter-width {
    min-width: 420px !important;
  }
}
h1, h2, h3 {
  font-family: outfit-bold;
}

h4, h5, h6 {
  font-family: outfit-medium;
}

p, span, ul, a, pre, th, td, button {
  font-family: outfit-regular;
}

.btn, .form-control, input {
  --bs-btn-font-family:outfit-regular !important;
}

p {
  color: #797979;
  font-size: calc(1rem + 2px);
}

label {
  font-family: outfit-regular;
  color: #797979;
  font-size: calc(1rem - 2px);
}

h5 {
  font-size: calc(1rem + 2px) !important;
}

.text-disable {
  color: #b1b5c9;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.35);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}

::-moz-selection {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

::selection {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.page-wrapper {
  padding-top: 60px;
  padding-left: calc(83px + 1.5rem) !important;
}

@media screen and (max-width: 767.5px) {
  .page-wrapper {
    padding-left: 1rem !important;
  }
}
.spinner {
  border: 3px solid #ccc;
  border-top-color: #ff0000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x-small {
  font-size: calc(1rem - 4px);
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-light-color {
  color: #797979;
}

a:hover {
  fill: var(--bs-primary);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: #797979;
}

.calender-num-bg {
  background-color: var(--bs-calender-bg);
  color: var(--bs-whit);
}
.calender-num-bg:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white) !important;
}

.calender-time {
  background-color: var(--bs-calender-bg);
  color: var(--bs-primary);
  border: solid 0.3px #8366bd;
}

.image-container {
  position: relative;
  display: inline-block;
  height: 150px;
  width: 225px;
}
.image-container .gallery-image {
  height: 150px;
  width: 225px;
  -o-object-fit: contain;
     object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  opacity: 0; /* Initial opacity set to 0 */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.image-container:hover .overlay {
  opacity: 1; /* Opacity set to 1 on hover */
}

.gallery-imgs-height {
  height: 515px;
}

@media screen and (max-width: 900px) {
  .gallery-imgs-height {
    height: 375px;
  }
}
@media screen and (max-width: 700px) {
  .gallery-imgs-height {
    height: 275px;
  }
}
@media screen and (max-width: 600px) {
  .gallery-imgs-height {
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .gallery-imgs-height {
    height: 150px;
  }
}
.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml,<svg data-name="Name=Arrow-right" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M0 0h30v30H0z" style="fill:none"/><path data-name="Path 25698" d="m21.666 27.333-8-8 8-8" transform="translate(-2.667 -4.333)" style="stroke:%238366bd;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;fill:none"/></svg>');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,<svg data-name="Name=Arrow-right" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M0 0h30v30H0z" style="fill:none"/><path data-name="Path 25697" d="m13.667 27.334 8-8-8-8" transform="translate(-2.667 -4.333)" style="stroke:%238366bd;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;fill:none"/></svg>');
}

.carousel-image-container {
  position: relative;
}

.overlay-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev {
  left: -50px;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

a {
  text-decoration: none;
  font-size: large;
}

.navbar-nav a {
  font-size: 20px;
  font-weight: 800;
}

.top-content h1 {
  font-size: 3.75rem;
  font-weight: 800;
}
.top-content p {
  font-size: 1.75rem;
  font-weight: 500;
}
.top-content a {
  font-size: 20px;
  font-weight: 800;
}
.top-content .small {
  font-size: 1rem;
}
.top-content .items-list {
  text-align: start !important;
  margin-left: 280px;
  margin-right: 280px;
}
.top-content .items-list ul li {
  font-size: 20px;
}

.benefit h1, .how-it-works h1, .x-ray-slider h1, .pricing h1 {
  font-size: 2.25rem;
  font-weight: 800;
}
.benefit h5, .how-it-works h5, .x-ray-slider h5, .pricing h5 {
  font-size: 1.125rem;
  font-weight: 600;
}
.benefit p, .how-it-works p, .x-ray-slider p, .pricing p {
  font-size: 1.25rem;
}
.benefit a, .how-it-works a, .x-ray-slider a, .pricing a {
  font-size: 20px;
  font-weight: 800;
}

.pricing-card {
  border: 2px solid var(--bs-primary);
}

@media screen and (max-width: 1403px) {
  .top-content .items-list {
    margin-left: 180px;
    margin-right: 180px;
  }
}
@media screen and (max-width: 1200px) {
  .top-content .items-list {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .top-content .items-list {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .top-content .items-list {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 900px) {
  .top-content .items-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 700px) {
  .top-content .items-list {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.navBar .ProfilePic {
  border-radius: 8px;
  align-items: center !important;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

.dropdown-menu {
  --bs-dropdown-min-width: 15.75rem;
  --bs-dropdown-item-padding-y: 0.35rem;
  --bs-dropdown-color: var(--bs-link-color);
  --bs-dropdown-border-color: transparent;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-box-shadow: 12px 12px 25px 12px rgb(0, 30, 255);
  --bs-dropdown-link-color: var(--bs-link-color);
  --bs-dropdown-link-hover-color: var(--bs-primary);
  --bs-dropdown-link-hover-bg: var(--bs-light-primary-bg);
  --bs-dropdown-link-active-color: var(--bs-primary);
  --bs-dropdown-link-active-bg: var(--bs-light-primary-bg);
  box-shadow: 0 0 25px 0 rgba(183, 200, 189, 0.35);
}

.dropdown-menu[data-bs-popper] {
  left: -185px !important;
}

#image-container {
  border: 1px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#image-container img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}/*# sourceMappingURL=style.css.map */