<footer class="row pt-5 px-5 w-100 justify-content-center">
    <div class="col-md-4 col-sm-6 mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <img width="35" height="35" src="../static/assets/imgs/images/svg-icons/radiography.svg" class="brandImg">
            X-RAY
        </a>
        <p class="mt-4">Copyright © 2024 - MedScan AI</p>
        <ul class="list-unstyled d-flex flex-wrap gap-3 social-links mt-5">
            <li>
                <a href="#" class="social-icon p-3 h-100 d-flex bg-primary rounded-3">
                    <svg width="19" height="18">
                        <use href="../static/assets/imgs/images/svg-icons/linkedin.svg#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="social-icon p-3 h-100 d-flex bg-primary rounded-3">
                    <svg width="19" height="18" class="">
                        <use href="../static/assets/imgs/images/svg-icons/facebook.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="social-icon p-3 h-100 d-flex bg-primary rounded-3">
                    <svg width="19" height="18">
                        <use href="../static/assets/imgs/images/svg-icons/instagram-svg.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="social-icon p-3 h-100 d-flex bg-primary rounded-3">
                    <svg width="19" height="18">
                        <use href="../static/assets/imgs/images/svg-icons/twitter.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="d-flex">
            <h4 class="text-primary position-relative pb-3">Use cases</h4>
        </div>
        <ul class="nav flex-column mt-4">
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    X-rays
                </a>
            </li>
            <!-- <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    CT Scans
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    MRIs
                </a>
            </li> -->
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="d-flex">
            <h4 class="text-primary position-relative pb-3">Resources</h4>
        </div>
        <ul class="nav flex-column mt-4">
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    Tutorials
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    News
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    Insights
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0">
                    Learnings
                </a>
            </li>
        </ul>
    </div>
</footer>