<div class="bg-body-tertiary">
    <nav class="navbar navbar-expand-lg justify-content-between p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img width="35" height="35" class="mb-2" src="../static/assets/imgs/images/svg-icons/radiography.svg"
                    alt=""> X
                Ray
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
              </button>

              
         
            <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
                <div class="navbar-nav gap-md-5 gap-3">
                    <a class="nav-link active" aria-current="page" href="#">Pricing</a>
                    
                    <div class="dropdown">
                        <button class="btn btn-light rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Register As
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/admin/admin_signup">As Admin</a></li>
                          <li><a class="dropdown-item" href="/doctor/doctor_signup">As Doctor</a></li>
                          <li><a class="dropdown-item" href="/patient/patient_signup">As Patient</a></li>
                         
                        </ul>
                    </div>
                    
                

                    <!-- <a  href="/singup">Register</a> -->
                    <div class="dropdown">
                        <button class="btn btn-light rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sign in
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/doctor/doctor_login">As Doctor</a></li>
                          <li><a class="dropdown-item" href="/patient/patient_login">As Patient</a></li>
                          <li><a class="dropdown-item" href="/admin/admin_login">As Admin</a></li>
                         
                        </ul>
                    </div>
                    
                    
                </div>
            </div>

         
        </div>
    </nav>