.md\:w-1\/2 {
    width: 95%;
}

.max-w-xl {
    max-width: 30rem;
}

.w-full1{
    width:39%;
}

/* Add these styles to your CSS */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 4px;
  }
  
.alert-success {
    color: #1ce11f;
   
  }

  /* Add these styles to your CSS */
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .submitting {
    opacity: 100; /* You can adjust the opacity as needed */
    pointer-events: none;
  }

  /* Add this to your existing stylesheet or in a <style> tag in your HTML */
a:hover {
  text-decoration: underline; /* or any other hover effect you prefer */
  color: #0366d6; /* Change to the color you prefer */
}


.custom-image-container {
  display: flex;
  align-items: top;
  justify-content: left;
  height: 100vh;
  margin-top: 15px;
  margin-left: 15px;
}

.custom-image-container img {
  max-width: 50%;
  height: 50%;
  border: 2px solid #3482db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.custom-image-container img:hover {
  transform: scale(1.05);
}