body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.patient-details,
.hospital-details {
    width: 45%; /* Adjust the width as needed */
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #007BFF;
}

p {
    line-height: 1.6;
}
