<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/admin-assets/scss/bootstrap.min.css">
    <link rel="stylesheet" href="../static/admin-assets/scss/style.css">
    <title>Document</title>
</head>

<body>

    <nav class="navBar py-sm-3 px-4 bg-white Shadow d-flex align-items-center fixed-top">

        <div class="collapse navbar-collapse ps-3 h-100 justify-content-end" id="navbarSupportedContent">
            <button type="button" class="NavAncor-Acitve-reposive border-0 Nav-Hide ms-4 d-md-none py-1 px-2"
                onclick="NavHide()">
                <svg class="expandbtn" width="18.484" height="13.092">
                    <use href="../static/admin-assets/images/icons/toggle-svg.svg#toggle"></use>
                </svg>
            </button>


            <button type="button" class="NavAncor-Acitve-reposive border-0 d-md-none ms-auto me-0 me-sm-3 py-1 px-2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="expandbtn" width="18.484" height="13.092">
                    <use href="../static/admin-assets/images/icons/expand-svg.svg#expand"></use>
                </svg>
            </button>
            <ul class="dropdown-menu mt-3 border-0 Mobile-menu">
                <li class="items d-flex align-items-center active position-relative">
                    <a class="dropdown-item active" href="#">Dashboard</a>
                </li>
                <li class="items d-flex align-items-center position-relative">
                    <a class="dropdown-item" href="#">Pages</a>
                </li>
                <li class="items d-flex align-items-center position-relative">
                    <a class="dropdown-item" href="#">Apps</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-lg-0">
                <li class="Users-profile nav-item dropdown">
                    <a class="nav-link d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-end d-none d-sm-block">
                            <p class="x-small mb-0">Ahmed Ali</p>
                            <p class="text-dark mb-0">UX Designer</p>
                        </div>
                        <img src="../static/admin-assets/imgs/images/Adminpic1.png" class="ms-3 ProfilePic" alt="" />
                    </a>
                    <ul class="dropdown-menu">
                        <li class="mb-2 p-2">
                            <a class="dropdown-item Profile-dropdown d-flex" href="#">
                                <img src="../static/admin-assets/imgs/images/Adminpic1.png" class="me-3 ProfilePic" alt="" />
                                <div class="text-start">
                                    <p class="x-small mb-0">Ahmed Ali</p>
                                    <p class="text-dark mb-0">UX Designer</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="mb-2 px-3"><a class="dropdown-item active" href="#">My Profile</a></li>
                        <li class="mb-2 px-3"><a class="dropdown-item" href="#">My Projects</a></li>
                        <li class="mb-2 px-3"><a class="dropdown-item" href="#">My Subscriptions</a></li>
                        <li class="mb-2 px-3"><a class="dropdown-item" href="#">My Statements</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="mb-2 px-3"><a class="dropdown-item" href="#">Account Settings</a></li>
                        <li class="mb-2 px-3"><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR END-->
    <!--side-bar-->
    <div class="side-menu Shadow-side-nav Animation" id="side-bar">
        <div class="overflow">
            <nav class="nav flex-column">
                <ul class="list-unstyled">
                    <!-- Dashboard Div -->
                    <li class="nav-item px-3 mb-3">
                        <a class="btn nav-link p-2 Navigation-btn w-100 text-start border-0"
                            href="./Adminr-dashboard.html" id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="../static/admin-assets/imgs/Navbar-svg/Home-icon.svg#home-icon"></use>
                            </svg>

                            <span class="hide-show Navigation-title mb-0 d-none">Dashboard</span>

                            <svg class="float-end hide-show d-none arrow-icon" width="4.922" height="8.486">
                                <use href="../static/admin-assets/images/icons/Navbar-icons/Arrow-icon.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <!-- Pationt Div -->
                    <li class="nav-item px-3 mb-3">
                        <a class="btn nav-link p-2 Navigation-btn Navigation-active small-active w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="../static/admin-assets/imgs/Navbar-svg/nav-user-icon.svg#users-icon"></use>
                            </svg>
                            <span class="hide-show Navigation-title mb-0 d-none">Listing</span>

                            <svg class="float-end hide-show d-none arrow-icon" width="4.922" height="8.486">
                                <use href="../static/admin-assets/images/icons/Navbar-icons/Arrow-icon.svg#arrow-right"></use>
                            </svg>
                        </a>
                        <ul class="list-unstyled bar m-0 mt-2 hide-show d-none" style="display: none">
                            <li class="mb-1">
                                <a class="Navigation-page-link text-decoration-none d-flex align-items-center"
                                    href="./doctor-listing.html">
                                    <div class="Navigation-dot ms-3"></div>
                                    <span class="ps-3"> Doctors </span>
                                </a>
                            </li>
                            <li class="mb-1">
                                <a class="Navigation-page-link text-decoration-none d-flex align-items-center"
                                    href="./patient-listing.html">
                                    <div class="Navigation-dot ms-3"></div>
                                    <span class="ps-3"> patients </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="page-wrapper px-3 px-md-4" bis_skin_checked="1">
        <div class="row w-100 m-0 py-4 px-0 align-items-end Page-Heading" bis_skin_checked="1">
            <div class="col-6 ps-0" bis_skin_checked="1">
                <h4 class="mb-0">Patients Listing</h4>
            </div>
            <div class="col-6 pe-0" bis_skin_checked="1">
                <p class="mb-0 text-end d-sm-block d-none">
                    <a class="text-decoration-none active" href="./demo-1.html" bis_skin_checked="1">
                        <svg class="Tab-HomeIcon mb-1">
                            <use href="/assets/images/Tabs-icons/home-icon.svg#home-icon"></use>
                        </svg>
                        Dashboard</a>/ <a class="text-decoration-none" href="./demo-1.html"
                        bis_skin_checked="1">Patients-Listing</a>
                </p>
            </div>
        </div>

        <div class="container-fluid mt-1 bg-white card-Shadow rounded-2 px-0">
            <div class="d-flex justify-content-between flex-wrap align-items-center p-4 pb-0">
                <div class="input mb-3">
                    <input type="text" class="search-box ps-3 py-1" placeholder="Please Enter"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn bg-primary" type="button" id="button-addon2">
                        <span>
                            <svg class="SearchIcon mb-1">
                                <use href="/assets/imgs/listing-icons/search-icon.svg#search-icon"></use>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="mb-3 d-flex flex-wrap gap-2">
                    <button type="button" class="btn btn-primary px-3 py-2" data-bs-toggle="modal"
                        data-bs-target="#createticket">
                        <svg class="PlusIcon">
                            <use href="/assets/imgs/listing-icons/plus.svg#plus-icon"></use>
                        </svg>
                        Add New Doctor
                    </button>
                </div>
            </div>
            <!-- model -->
            <div class="modal fade" id="createticket" tabindex="-1" aria-labelledby="staticBackdropLabel"
                style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header p-4">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Doctor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-4 pb-0">
                            <div class="row g-3">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="form-label mb-1">Doctor Name</label>
                                    <input type="text" class="form-control mb-1 border-0 bg-body"
                                        placeholder="Please Enter">
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="form-label mb-1">Gender</label>
                                    <input type="text" class="form-control mb-1 border-0 bg-body"
                                        placeholder="Please Enter">
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="form-label mb-1">age</label>
                                    <input type="text" class="form-control mb-1 border-0 bg-body"
                                        placeholder="Please Enter">
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="form-label mb-1">Phone No</label>
                                    <input type="text" class="form-control mb-1 border-0 bg-body"
                                        placeholder="Please Enter">
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="form-label mb-1">Email</label>
                                    <input type="text" class="form-control mb-1 border-0 bg-body"
                                        placeholder="Please Enter">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-0 p-4">
                            <button class="btn btn-light-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive p-4 pe-2 pt-0" style="height: 60vh">
                <table class="table Search-Employees table-borderless table-striped table-hover">
                    <thead class="Employees-border sticky-top bg-white" style="z-index: 1 !important">
                        <tr class="small">
                            <th scope="col" class="pb-3 ps-4 dashed-border-bottom">#</th>
                            <th scope="col" class="pb-3 dashed-border-bottom" style="min-width: 150px">Doctor Name</th>
                            <th scope="col" class="pb-3 dashed-border-bottom" style="min-width: 150px">Gender</th>
                            <th scope="col" class="pb-3 dashed-border-bottom" style="min-width: 100px">Age</th>
                            <th scope="col" class="pb-3 dashed-border-bottom" style="min-width: 100px">Phone No</th>
                            <th scope="col" class="pb-3 dashed-border-bottom" style="min-width: 100px">Email</th>
                            <th scope="col" class="pb-3 text-end dashed-border-bottom">Action</th>
                        </tr>
                    </thead>
                    <tbody class="small">
                        <tr class="mt-4">
                            <th scope="row" class="ps-4 pe-2">1</th>
                            <td>Ibrahime</td>
                            <td>Male</td>
                            <td>22 Years</td>
                            <td>0333333333</td>
                            <td>Ibrahime@gmail.com</td>
                            <td class="d-flex justify-content-evenly">
                                <a class="btn btn-light-success d-flex justify-content-center align-items-center border-0 px-2"
                                    href="">
                                    <svg class="svg-light-btn m-0" width="12" height="12">
                                        <use href="/assets/imgs/listing-icons/edit-pen.svg#edit-icon"></use>
                                    </svg>
                                </a>
                                <button
                                    class="btn btn-light-danger d-flex justify-content-center align-items-center border-0 px-2"
                                    href="#">
                                    <svg class="svg-light-btn m-0" width="14" height="14">
                                        <use href="/assets/imgs/listing-icons/delete.svg#delete-icon"></use>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu border-0 Shadow"
                                    style="font-size: 10px; min-width: 73px !important">
                                    <li><a class="dropdown-item dropdown-menu-hover" href="#">Action</a></li>
                                    <li><a class="dropdown-item dropdown-menu-hover" href="#">Action</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                class="employee-displaying d-flex flex-wrap-reverse align-items-center justify-content-between p-3 border-top">
                <div class="d-flex flex-wrap-reverse align-items-center mt-md-0 mt-3">
                    <p class="mb-0 mt-sm-0 mt-1 displaying-records">Displaying 10 for 230 records</p>
                    <div class="d-flex justify-content-center align-items-center ms-sm-0 ms-2">
                        <select class="ms-sm-4 form-select input-flied gray border-0">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                        <div class="d-flex align-items-center">
                            <div class="ms-sm-3 ms-2">
                                <div class="loader"></div>
                            </div>
                            <div class="displaying-records ms-2">
                                <label for="loader">loading...</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-nav">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination align-items-center mb-0 gap-2">
                            <li class="page-item">
                                <a class="page-link p-1 p-sm-2 py-2" href="#">previous</a>
                            </li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link p-1 p-sm-2 py-2" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/admin-assets/js/jquery-3.6.3.min.js"></script>
<script src="../static/admin-assets/js/main.js"></script>
<script src="../static/admin-assets/js/Toggels.js"></script>
<script src="../static/admin-assets/js/bootstrap.bundle.min.js"></script>

</html>