
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

@font-face {
  font-family: MADEEvolveSans-Bold;
  src: url('../font/MadeEvolvesans/MADE\ Evolve\ Sans\ Medium\ \(PERSONAL\ USE\).otf');
  font-display: swap;
}
@font-face {
  font-family: AvenirLTStd-Roman;
  src: url('../font/Ariv/Avenir\ LT\ Std\ 55\ Roman.otf');
  font-display: swap;
}
@font-face {
  font-family: AvenirLTStd-medium;
  src: url('../font/Ariv/Avenir\ LT\ Std\ 65\ Medium.otf');
  font-display: swap;
}
.medi-bg-img{
  background-image: url('../imgs/bg-img/bg-medidiscount.png');
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100%;
  p{
    font-size: 18px;
    font-family: AvenirLTStd-Roman;
  }
}
.Uninsured{
  font-size: 34px;
  font-family: MADEEvolveSans-Bold;
}
.formheading{
  h2{
    font-weight:700;
    color: #2a3b5e;
    span{
        color: #03bafb;
    }
  }
  p{
    font-size: 14px;
    font-weight:400;
    color: #97a3bb;
  }
  .logingwarn{
    color:#ff1616;
    font-size: 18px;
  }
  .table-borderless{
    tbody tr td{
font-size: 18px;
    }
  }
}
.formLogin{
  label{
    font-family: AvenirLTStd-Roman;
    color: #1e2f46;
    font-size: 15px;
  }
.Submitbutton{
  font-size: 18px;
  font-family: AvenirLTStd-medium;
  background-color:#03bafb;
  &:active{
    background-color:#03bafb;
    border:#03bafb;
  }
}
.form-check-input:checked {
  background-color: #03bafb;
  border-color: #03bafb;
}
.input-group-append{
  transform: translateX(-30px);
  margin-right: -14px;
  cursor: pointer;
  }
  .form-control{
    &:focus{
      border-color: #1E2944;
      box-shadow: none;
    }
    &:hover{
      border-color: #1E2944;
    }
  }
}
    .physicalcard{
      font-size: 18px !important;
      font-weight: 500 !important;
      color:#03bafb !important;
    }
    .carousel-indicators {
      .active{
        width: 25px !important;
      }
    }
    .carousel-indicators [data-bs-target] {
width: 10px;
    }
    .slidermain{
     min-height: 425px;
    }
    .field-validation-error{
      background-color: rgba(220, 53, 70, 0.1);
      // border: 1px solid #dc3545;
      color: #dc3545;
      border-radius: 5px;
      }
    