<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="../static/assets/scss/bootstrap.min.css" />
    
    <link rel="stylesheet" href="../static/assets/scss/style.css" />
    <title>Login</title>
</head>

<body>
    <div class="container-fluid login-background">
        <div class="row align-items-center justify-content-center formcontrol pt-3"
            style="padding-bottom: 22px !important;">
            <div class="col-lg-6 pb-4 my-5">
                <div class="text-center">
                  <h1 class="text-primary">MEDSCAN AI</h1>
                </div>
                <div class="text-center d-lg-block d-none">
                    <img class="py-4 mb-2" src="../static/img/3782374-removebg-preview.png"  height="400px" width="400px" alt="">
                    <h3 class="dark-text semibold">Welcome to MedScan AI!</h3>
                    <p class="col-md-8 m-auto">We're excited to have you use our platform for a seamless and efficient medical imaging experience.</p>
                </div>
            </div>
            <div
                class="col-lg-5 col-md-10 col-sm-9 col-12 my-5 d-flex justify-content-center align-items-center offset-lg-1 mt-lg-5 mt-0 mx-xl-5 mx-md-4 ms-0">
                <div class="loginForm bg-white rounded-4 py-lg-5 py-3 px-lg-5 px-md-4 px-2 mx-0 mx-xl-5 w-100"
                    style="border-radius: 15px;">
                    <form action="{{url_for('doctor.doctor_login') }}"  method="POST"  class="formLogin px-3">
                        <div class="text-center Welcome-back pb-3 mb-3">
                            <h2 class=" bold">Doctors Login</h2>
                            <p>Please Signup for new account.<span> <a href="/doctor/doctor_signup" class="text-primary">Signup</a></span></p>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label regular small">Username</label>
                            <input type="email" class="form-control " name="email" id="" aria-describedby="emailHelpId"
                                placeholder="Please Enter" />
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label regular small">Password</label>
                            <input type="password" class="form-control" name="password" id="" placeholder="Please Enter" />
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="" />
                                <label class="form-check-label regular small" for="">Remember Me</label>
                            </div>
                        </div>
                   
                     <div class="d-flex justify-content-between align-items-center pt-5 mt-3">
                        
                        <button class="btn btn-primary px-5  text-white" type="submit">
                            Login
                        </button>
                        <a href="" class="text-primary"><b>forget password?</b></a>
                     </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/assets/js/jquery-3.6.3.min.js"></script>
    <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script src="../static/assets/js/Toggels.js"></script>

</body>

</html>